<script setup lang="ts">
</script>

<template>
  <div class="input_row">
    <b>
      <slot name="caption"></slot>
    </b>
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.input_row {
  display: flex;
  gap: 10px;
  width: 100%;
  font-family: $font-body;
  font-size: 16px;
  flex-direction: column;
}

.input_row input {
  background-color: $default-grey;
  border-radius: 10px;
  box-shadow: $default-shadow;
  border: none;
  padding: 20px;

  font-family: $font-body;
  font-size: 14px;
  font-weight: 300;

  &:active, &:focus {
    outline: 2px solid black;
  }
}
</style>