<script setup lang="ts">

</script>

<template>
  <slot name="header"></slot>
  <div class="events">
    <slot name="navigation"></slot>
    <slot />
  </div>
  <slot name="footer"></slot>
</template>


<style scoped lang="scss">
@import "@/shared/assets/global";

.events {
  padding: 20px 5%;
  background-color: #f5f5f5;

  @media screen and (min-width: $tablet-screen) {
    padding: 20px;
  }

  @media screen and (min-width: $desktop-screen) {
    padding: 20px 10%;
  }

  //@media screen and (min-width: $full-hd-screen) {
  //  padding: 1rem 15%;
  //}
}
</style>