<script setup lang="ts">

import DefaultButton from '@/shared/ui/buttons/default-button';
</script>

<template>
  <div class="welcome">
    <h1>
      Добро пожаловать!
    </h1>
    <DefaultButton>
      На главную
    </DefaultButton>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.welcome {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.welcome h1 {
  font-family: $font-title;
  font-size: 48px;
}
</style>