<script setup lang="ts">

import DefaultInput from '@/shared/ui/inputs/default-input';
import DefaultTextarea from '@/shared/ui/inputs/default-textarea';
import DefaultDatePicker from '@/shared/ui/inputs/default-date-picker';
import FormField from '@/shared/ui/form-field';
import DefaultSelect from '@/shared/ui/inputs/default-select';
import { ref } from 'vue';
import DefaultSubmit from '@/shared/ui/inputs/default-submit';
import { useRouter } from 'vue-router';

const formatOptions = ref(['Онлайн', 'Офлайн']);
const disciplineOptions = ref(['ОД (основная дисциплина)',
  'КИНСБФ (командная игра на скорость без фальстартов)',
  'ЭК (эрудит-квартет)',
  'Своя игра',
]);

const router = useRouter();
</script>

<template>
  <form action="" @submit="router.replace('/')">
    <FormField>
      <template v-slot:caption>
        Название мероприятия:
      </template>
      <template v-slot:default>
        <DefaultInput />
      </template>
    </FormField>
    <FormField>
      <template v-slot:caption>
        Краткое описание:
      </template>
      <template v-slot:default>
        <DefaultTextarea />
      </template>
    </FormField>
    <div class="row">
      <FormField>
        <template v-slot:caption>
          Дата начала:
        </template>
        <template v-slot:default>
          <DefaultDatePicker />
        </template>
      </FormField>
      <FormField>
        <template v-slot:caption>
          Дата окончания:
        </template>
        <template v-slot:default>
          <DefaultDatePicker />
        </template>
      </FormField>
    </div>
    <div class="row">
      <FormField>
        <template v-slot:caption>
          Максимальное количество команд:
        </template>
        <template v-slot:default>
          <DefaultInput type="number" />
        </template>
      </FormField>
      <FormField>
        <template v-slot:caption>
          Формат:
        </template>
        <template v-slot:default>
          <DefaultSelect caption="Выберите формат" :options="formatOptions" />
        </template>
      </FormField>
    </div>
    <FormField>
      <template v-slot:caption>
        Дисциплина:
      </template>
      <template v-slot:default>
        <DefaultSelect caption="Выберите дисциплину" :options="disciplineOptions" />
      </template>
    </FormField>
    <DefaultSubmit value="Сохранить" />
  </form>
</template>

<style scoped lang="scss">
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}
</style>