<script setup lang="ts">

</script>

<template>
  <div class="greeting">
    <h1>Добро пожаловать</h1>
    <h4>Пожалуйста, введите данные для регистрации</h4>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.greeting {
  background-color: $heading-grey;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  box-shadow: $default-shadow;
  text-align: center;
}

.greeting h1 {
  font-family: $font-title;
  font-size: 28px;
  font-weight: 600;
}

.greeting h4 {
  font-family: $font-body;
  font-size: 16px;
  font-weight: 300;
}

</style>