<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const links = ref<HeaderLink[]>([
  { name: 'Мероприятия', link: '/' },
  { name: 'Новости', link: '/' },
  { name: 'О нас', link: '/' },
  { name: 'Статьи', link: '/' },
]);

type HeaderLink = {
  name: string;
  link: string;
}
</script>

<template>
  <div class="navigation_links">
    <div class="header-link" v-for="link in links" :key="link.name" @click="router.push(link.link)">
      {{ link.name }}
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.navigation_links {
  display: flex;
  gap: 20px;

  font-family: $font-body;
  font-weight: 300;
  font-size: 16px;
}

.header-link:hover {
  cursor: pointer;
}
</style>