<script setup lang="ts">

</script>

<template>
  <div>
    <input type="checkbox" id="checkbox" name="checkbox">
    <label for="checkbox">
      <slot></slot>
    </label><br>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

div {
  font-family: $font-body;
  font-size: 16px;

  display: flex;
  gap: 10px;
  align-items: center;
}

input {
  width: 20px;
  height: 20px;
}
</style>