<script setup lang="ts">
const props =
  defineProps<{
    value: string,
  }>();
</script>

<template>
  <input type="submit" :value="props.value">
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

input {
  background-color: #0f7a40;
  border-radius: 10px;
  color: white;
  width: fit-content;
  align-self: end;
  font-family: $font-body;
  font-size: 20px;
  padding: 10px 20px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
</style>