<script setup lang="ts">
import { ref } from 'vue';
import type { SignInData } from '../model/signInData.types';
import DefaultInput from '@/shared/ui/inputs/default-input';
import FormField from '@/shared/ui/form-field';
import { signInUser } from '../api';
import { useRouter } from 'vue-router';
import PageTitle from '@/widgets/page-title';
import DefaultButton from '@/shared/ui/buttons/default-button';
import ModalPopup from '@/shared/ui/modal-popup';

const router = useRouter();

const signInData = ref<SignInData>({
  email: '',
  password: '',
});

const modalPopupOpened = defineModel<boolean>();

async function onSubmit(e: Event) {
  e.preventDefault();
  console.log('prevented!');
  console.log(signInData.value.email);
  console.log(signInData.value.password);
  const user = await signInUser(signInData.value);
  if (user) {
    await router.replace('/');
  }
}
</script>

<template>
  <ModalPopup v-model="modalPopupOpened">
    <template v-slot:header>
      <PageTitle style="border-radius: 10px">Авторизация</PageTitle>
    </template>
    <template v-slot:body>
      <form action="" @submit="onSubmit">
        <FormField>
          <template v-slot:caption> Электронная почта: </template>
          <template v-slot:default>
            <DefaultInput v-model="signInData.email" />
          </template>
        </FormField>
        <FormField>
          <template v-slot:caption> Пароль: </template>
          <template v-slot:default>
            <DefaultInput type="password" v-model="signInData.password" />
          </template>
        </FormField>
        <div class="register">
          <span>Ещё не зарегистрированы? Тогда можете </span>
          <span
            class="register-link"
            @click="
              router.replace('/register');
              modalPopupOpened = false;
            "
            >создать аккаунт</span
          >
          <span>.</span>
        </div>
        <div style="width: 100%; display: flex; justify-content: space-between">
          <DefaultButton class="align-self: center" @click="onSubmit"> Авторизоваться </DefaultButton>
          <DefaultButton
            style="background-color: red; align-self: center"
            @click="modalPopupOpened = false"
          >
            Отмена
          </DefaultButton>
        </div>
      </form>
    </template>
  </ModalPopup>
</template>

<style scoped lang="scss">
@import '@/shared/assets/global';

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.register {
  font-family: $font-body;
}

.register-link {
  color: #0F6D7A;

  &:hover {
    cursor: pointer;
  }
}
</style>
