<script setup lang="ts">
import type { NotificationModel } from '@/widgets/notification-list';

defineProps<{ notification: NotificationModel }>();
</script>

<template>
  <div class="notification-message">
    <span>
      {{ notification.message }}
    </span>
    <a :href="notification.link"> Перейти</a>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.notification-message {
  background-color: white;
  border-radius: 20px;
  box-shadow: $default-shadow;

  font-family: $font-body;

  padding: 20px;
}

.notification-message a {
  color: cadetblue;
  text-decoration: none;
}
</style>