<script setup lang="ts">

</script>

<template>
  <div class="heading">
    <slot></slot>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.heading {
  font-family: $font-heading;
  text-align: center;
  background-color: $heading-grey;
  color: white;
  font-weight: normal;
  border-radius: 20px;
  box-shadow: $default-shadow;
  font-size: 24px;
  padding: 20px 5%;

  @media screen and (min-width: $tablet-screen) {
    padding: 10px 20%;
    font-size: 32px;
  }
}
</style>