<script setup lang="ts">

import DefaultInput from '@/shared/ui/inputs/default-input';
import FormField from '@/shared/ui/form-field';
import { computed, onMounted, ref } from 'vue';
import { getTeams } from '@/entities/teams-field/api';

const teamNames = ref<{ name: string; }[]>();

onMounted(async () => {
  teamNames.value = await getTeams();
});
const searchTerm = defineModel<string>();
const showSuggestions = ref<boolean>(false);
const selectTeam = (team: { name: string }) => {
  searchTerm.value = team.name;
  showSuggestions.value = false;
};
const searchTeamNames = computed(() => {
  if (searchTerm.value === '') {
    return [];
  }
  console.log(teamNames.value);
  if (!teamNames.value) return [];

  let matches = 0;

  return teamNames.value.filter(team => {
    if (
      team.name.toLowerCase().includes(searchTerm.value!.toLowerCase())
      && matches < 10
    ) {
      matches++;
      return team;
    }
  });
});
</script>

<template>
  <FormField>
    <template v-slot:caption>
      Название команды:
    </template>
    <template v-slot:default>
      <div style="display: flex; flex-direction: column; gap: 10px">
        <DefaultInput v-model="searchTerm" @focus="showSuggestions = true" />
        <ul
          v-if="showSuggestions && searchTeamNames.length && teamNames && teamNames.length"
          class="cool-ul"
        >
          <li style="color: #35382C">
            Показано {{ searchTeamNames.length }} из {{ teamNames.length }} команд
          </li>
          <li
            class="cool-li"
            v-for="team in searchTeamNames"
            :key="team.name"
            @click="selectTeam(team)"
          >
            {{ team.name }}
          </li>
        </ul>
      </div>
    </template>
  </FormField>
</template>

<style scoped lang="scss">
.cool-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #bac3bf;

  padding: 10px;
  border-radius: 10px;
}

.cool-li {
  color: white;
  background-color: #0F6D7A;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
</style>