<script setup lang="ts">
import { ref } from 'vue';
import DefaultButton from '@/shared/ui/buttons/default-button';

const event = ref({
  id: 111,
  title: 'Студенческий чемпионат России по интеллектуальным играм',
  description: 'Короткое описание ивента, может быть в одну строку, может быть в две строки, три, четыре и так далее, пока не устанешь писать',
  dateStart: '24 сентября 2024',
  dateEnd: '26 сентября 2024',
  format: 'онлайн / офлайн',
  place: 'гостиница “Аэропорт сити плаза”, Санкт-Петербург, ул. Пушкина, д. 123',
  maxTeams: 26,
  registrationFee: 1200,
  organizer: 'Пушкин Александр Сергеевич',
  disciplines: [
    'ОД',
    'КИНСБФ',
    'ЭК',
    'Своя игра',
  ],
});
</script>

<template>
  <div class="details">
    <div><b>Формат:</b> {{ event.format }}</div>
    <div><b>Место проведения:</b> {{ event.place }}</div>
    <div><b>Дата начала:</b> {{ event.dateStart }}</div>
    <div><b>Дата окончания:</b> {{ event.dateEnd }}</div>
    <div><b>Максимальное количество команд:</b> {{ event.maxTeams }}</div>
    <div><b>Организационный взнос с команды:</b> {{ event.registrationFee }} рублей</div>
    <div>
      <b>Организатор: </b>
      <DefaultButton @click="$router.push('/user/12')">
        {{ event.organizer }}
      </DefaultButton>
    </div>
    <div>
      <div><b>Дисциплины:</b></div>
      <ul>
        <li v-for="discipline in event.disciplines" :key="discipline">
          {{ discipline }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: $font-body;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.details ul {
  margin: 0;
}
</style>