<script setup lang="ts">
import type { UserData } from '@/features/registration-form';
import { computed } from 'vue';

const props = defineProps<{
  userData?: UserData,
}>();

const age = computed(() => {
  return getAge(props.userData?.birthDate);
});

function getAge(date: Date | undefined) {
  if (!date) {
    return 0;
  }
  const dateOfBirth = new Date(date);
  const monthDiff = Date.now() - dateOfBirth.getTime();
  //convert the calculated difference in date format
  const ageDateTime = new Date(monthDiff);
  //extract year from date
  const year = ageDateTime.getUTCFullYear();
  //now calculate the age of the user
  return Math.abs(year - 1970);
}

console.log(getAge(props.userData?.birthDate));
</script>

<template>
  <div v-if="userData" style="display: flex; gap: 40px">
    <img src="@/shared/assets/icons/pushkin.jpg" alt="user icon">
    <div class="personal-information">
      <div>
        <span><b>ФИО: </b></span>
        <span>
          {{ userData.currentName.firstName }}
          {{ userData.currentName.secondName }}
          {{ userData.currentName.patronymicName }}
        </span>
      </div>
      <div>
        <span><b>Возраст: </b></span>
        <span>{{ age }}</span>
      </div>
      <div v-if="userData.teamName">
        <span><b>Команда: </b></span>
        <span>{{ userData.teamName }}</span>
      </div>
      <div v-if="userData.currentEducationalInstitution">
        <span><b>Образовательное учреждение: </b></span>
        <span>{{ userData.currentEducationalInstitution.name }}</span>
      </div>
      <div v-if="userData.aboutMe && userData.aboutMe.length != 0">
        <span><b>О себе: </b></span>
        <span>{{ userData.aboutMe }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.personal-information {
  display: flex;
  flex-direction: column;
  gap: 10px;


  font-family: $font-body;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

img {
  border: #0F6D7A solid 1px;
  border-radius: 20px;
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  object-fit: cover;
  vertical-align: top;
  background: white;
  box-shadow: $default-shadow;
}
</style>