<script setup lang="ts">

import DefaultButton from '@/shared/ui/buttons/default-button';
import { useRouter } from 'vue-router';

const router = useRouter();
</script>

<template>
  <DefaultButton style="background-color: #0F6D7A">
    Войти
  </DefaultButton>
</template>

<style scoped lang="scss">

</style>
