<script setup lang="ts">
</script>

<template>
  <img src="@/shared/assets/icons/user_icon.svg"
       alt="profile picture">
</template>

<style scoped lang="scss">
img {
  width: 60px;
  &:hover {
    cursor: pointer;
  }
}
</style>