<script setup lang="ts">

import { useRouter } from 'vue-router';

const router = useRouter();

</script>

<template>
  <div class="back_button" @click="router.back()">
    <img src="@/shared/assets/icons/back.svg" alt="go back">
    <slot>Назад</slot>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.back_button {
  border: none;
  background: white;
  box-shadow: $default-shadow;
  margin-bottom: 24px;
  border-radius: 20px;
  padding: 16px 20px;
  text-align: start;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 300;

  display: flex;
  gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: start;

  &:hover {
    cursor: pointer;
  }
}

.back_button img {
  height: 19px;
}
</style>