<script setup lang="ts">
import JoinButton from '@/entities/join-button';
import MoreInfoButton from '@/entities/more-info-button';
import { useRouter } from 'vue-router';
import type { IntellectualEventModel } from '@/entities/intellectual-event-list';
import { computed } from 'vue';

const props = defineProps<{
  event: IntellectualEventModel
}>();

const router = useRouter();

function navigateToEvent(event: IntellectualEventModel) {
  router.push('/event/' + event.id);
}

const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};

const dateStart = computed(
  (): string => {
    const startDate = new Date(Date.parse(props.event.dateStart));
    return startDate.toLocaleDateString('ru-RU', options);
  },
);
const dateEnd = computed(
  (): string | undefined =>
    props.event.dateEnd ?
      new Date(Date.parse(props.event.dateEnd)).toLocaleDateString('ru-RU', options) :
      undefined,
);
</script>

<template>
  <div class="card">
    <div class="title">
      {{ event.title }}
    </div>
    <div class="body">
      <div class="image_and_description">
        <img src="@/shared/assets/icons/owl_icon.svg" alt="main logo">
        <span style="flex: auto"> {{ event.description }}</span>
      </div>
      <div>
        <div v-if="event.dateEnd">
          <div><b>Дата начала:</b> {{ dateStart }}</div>
          <div><b>Дата окончания:</b> {{ dateEnd }}</div>
        </div>
        <div v-else>
          <div><b>Дата проведения:</b> {{ dateStart }}</div>
        </div>
        <div class="buttons_row">
          <JoinButton />
          <MoreInfoButton @click="navigateToEvent(event)" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

$primary-color: #686868;

.title {
  font-family: $font-title;
  color: white;
  background-color: $primary-color;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px;

  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: $tablet-screen) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-screen) {
    font-size: 24px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  background-color: white;
  font-weight: lighter;
  font-size: 14px;
  gap: 10px;

  height: 100%;
  justify-content: space-between;

  @media screen and (min-width: $desktop-screen) {
    font-size: 16px;
  }
}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: $default-shadow;
}

.image_and_description {
  display: flex;
  align-items: start;
  gap: 10px;
  padding-bottom: 10px;
}

.image_and_description img {
  border: black solid 1px;
  border-radius: 10px;
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
  object-fit: cover;
  vertical-align: top;
}

.buttons_row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
</style>