<script setup lang="ts">

import { RegistrationForm } from '@/features/registration-form';
import GreetingMessage from '@/features/greeting-message';

const props = defineProps<{
  sas: string
}>();


</script>

<template>
  <GreetingMessage style="margin-bottom: 40px" />
  <RegistrationForm :sas="props.sas" />
</template>

<style scoped lang="scss">

</style>