<script setup lang="ts">

</script>

<template>
  <button>
    <slot></slot>
  </button>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

button {
  background-color: #0f7a40;
  border-radius: 10px;
  color: white;
  font-family: $font-body;
  border: none;
  width: fit-content;

  font-size: 16px;
  padding: 10px 20px;

  @media screen and (min-width: $tablet-screen) {

  }

  &:hover {
    cursor: pointer;
  }
}
</style>