<script setup lang="ts">

import OwlLogo from '@/shared/ui/logo';
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const links = ref<HeaderLink[]>([
  { name: 'Мероприятия', link: '/' },
  { name: 'Новости', link: '/' },
  { name: 'О нас', link: '/' },
  { name: 'Статьи', link: '/' },
]);

type HeaderLink = {
  name: string;
  link: string;
}

const contacts = ref([
  'Почта: example@gmail.com',
  'Телефон: 8 (800) 555-35-35',
]);
</script>

<template>
  <div class="footer">
    <OwlLogo />
    <div class="footer_links">
      <div class="navigation_links">
        <div class="footer-link" v-for="link in links" :key="link.name" @click="router.push(link.link)">
          {{ link.name }}
        </div>
      </div>
      <div class="navigation_links">
        <div v-for="contact in contacts" :key="contact">
          {{ contact }}
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.footer_links {
  display: flex;
  justify-content: stretch;
  font-family: $font-body;
  font-weight: 300;

  padding-top: 40px;
  padding-bottom: 80px;

  flex-direction: column;
  gap: 80px;
  font-size: 16px;

  @media screen and (min-width: $tablet-screen) {
    flex-direction: row;
    font-size: 16px;
    gap: 160px;
  }
}

.navigation_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media screen and (min-width: $tablet-screen) {
    align-items: start;
  }
}

.footer-link:hover {
  cursor: pointer;
}
</style>