<script setup lang="ts">

// import AddEventCard from '@/widgets/add-event-card';
import EventListSidebar from '@/features/event-list-sidebar';
import EventList from '@/widgets/event-list';
import PageTitle from '@/widgets/page-title';
import { ref } from 'vue';
import EventSearchBar from '@/widgets/events-search-bar';

const searchValue = ref<string>('');
</script>

<template>
  <div class="events-page">
    <PageTitle>Список мероприятий</PageTitle>
    <EventSearchBar v-model="searchValue"></EventSearchBar>
    <div class="events">
      <EventListSidebar class="sidebar"></EventListSidebar>
      <!--        <AddEventCard></AddEventCard>-->
      <EventList class="events-grid" v-model="searchValue"></EventList>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.sidebar {
  flex: 0.5;
  display: none;

  @media screen and (min-width: $sidebar-width) {
    display: flex;
  }

  @media screen and (min-width: $two-k-screen) {
    flex: 0.4;
  }
}

.events-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.events {
  display: flex;
  gap: 20px;
}

.events-grid {
  flex: 2;
}

</style>