<script setup lang="ts">
import NotificationMessage from '@/features/notification-message';
import { useNotificationListModel } from '@/widgets/notification-list/model';
import { onMounted } from 'vue';
import { supabase } from '@/shared/api';

const notificationListModel = useNotificationListModel();

onMounted(async () => {
  const { data: { user } } = await supabase.auth.getUser();
  const userId = await supabase
    .from('users')
    .select('id')
    .eq('authUserId', user!.id);

  await notificationListModel.getNotifications(userId.data![0].id);
});
</script>

<template>
  <div class="error" v-if="!notificationListModel.notifications.length">
    <p>К сожалению, для вас нет никаких сообщений или оповещений.</p>
  </div>
  <masonry-wall v-else :items="notificationListModel.notifications" :max-columns="3"
                :min-colums="3" :gap="!notificationListModel.notifications.length ? 0 : 20">
    <template #default="{ item }">
      <NotificationMessage
        :notification="item">
      </NotificationMessage>
    </template>
  </masonry-wall>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";
</style>