<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();
</script>
<template>
  <div class="card" @click="router.push('/create-event')">
    <img src="@/shared/assets/icons/add.svg" alt="add new event">
    <div class="title">
      <h1>Создать мероприятие</h1>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

$primary-color: #686868;

.title {
  font-family: $font-title;
  color: white;
  border-radius: 20px 20px 0 0;
  padding: 4px 20px;
}

.title h1 {
  font-weight: 400;
  text-align: center;

  font-size: 24px;
  @media screen and (min-width: $tablet-screen) {
    font-size: 28px;
  }
}

.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $default-shadow;
  background-color: #45777e;

  padding: 20px;

  &:hover {
    cursor: pointer;
  }
}

.card img {
  width: 80px;
  color: white;
  filter: invert(100%) sepia(6%) saturate(22%) hue-rotate(83deg) brightness(105%) contrast(105%);

  @media screen and (min-width: $tablet-screen) {
    width: 120px;
  }
}
</style>