<script setup lang="ts">
import { ref } from 'vue';

const sidebarElements = ref(
  [
    'Все мероприятия',
    'Созданы мной',
    'Заявки',
    'Команды',
    'Архив мероприятий',
  ],
);
</script>

<template>
  <div class="sidebar">
    <button v-for="element in sidebarElements" :key="element">{{ element }}</button>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.sidebar {
  background-color: white;
  height: fit-content;
  box-shadow: $default-shadow;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.sidebar button {
  background-color: $default-grey;
  border-radius: 10px;
  color: black;
  text-align: left;
  font-family: $font-body;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  box-shadow: $default-shadow;
}
</style>