<script setup lang="ts">
import { useRoute } from 'vue-router';
import { DefaultLayout } from '@/shared/ui/layouts';
import { computed } from 'vue';
import OwlHeader from '@/widgets/owl-header';
import OwlFooter from '@/shared/ui/owl-footer';

const route = useRoute();
const layout = computed(() => route.meta.layout || DefaultLayout);
</script>

<template>
  <component :is="layout">
    <template v-slot:header>
      <OwlHeader />
    </template>
    <template v-slot:navigation> </template>
    <template v-slot:default>
      <router-view />
    </template>
    <template v-slot:footer>
      <OwlFooter />
    </template>
  </component>
</template>

<style scoped lang="scss">
@import '@/shared/assets/global';
</style>
