<script setup lang="ts">
import { ref } from 'vue';

const selected = ref('');

const props =
  defineProps<{
    caption: string,
    options: string[],
  }>();
</script>

<template>
  <select v-model="selected">
    <option disabled value="">{{ props.caption }}</option>
    <option v-for="option in props.options" :key="option">{{ option }}</option>
  </select>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

select {
  background-color: $default-grey;
  border-radius: 10px;
  box-shadow: $default-shadow;
  border: none;
  padding: 10px;

  font-family: $font-body;
  font-size: 16px;
  border-right: 20px solid transparent;

  &:active, &:focus {
    outline: 2px solid black;
  }

  &:hover {
    cursor: pointer;
  }
}
</style>