<script setup lang="ts">

import PersonalInformation from '@/features/personal-information';
import DefaultButton from '@/shared/ui/buttons/default-button';
import BackButton from '@/shared/ui/buttons/back-button';
import { useRoute } from 'vue-router';
import { onMounted, ref } from 'vue';
import { getInitialUserData } from '@/pages/personal-account';
import type { UserData } from '@/features/registration-form';

withDefaults(
  defineProps<{ isCurrentUser: boolean }>(),
  { isCurrentUser: true },
);
const route = useRoute();
console.log(route.params.id);
const userData = ref<UserData>();

onMounted(async () => {
  userData.value = await getInitialUserData(route.params.id as string);
  console.log(userData);
});
</script>

<template>
  <BackButton></BackButton>
  <div class="user-info">
    <PersonalInformation v-if="userData" :userData="userData!"></PersonalInformation>
    <div v-else class="error">
      <p>К сожалению, такого пользователя не существует.</p>
    </div>
    <DefaultButton v-if="isCurrentUser" style="align-self: end">Редактировать</DefaultButton>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
</style>