<script setup lang="ts">
import OwlLogo from '@/shared/ui/logo';
import HeaderLinks from '@/features/header-links';
import SignInButton from '@/features/sign-in-button';
import CollapsedMenu from '@/features/collapsed-menu';
import { supabase } from '@/shared/api';
import { onMounted, ref } from 'vue';
import AccountThumbnail from '@/features/account-thumbnail';
import { useRouter } from 'vue-router';
import SignInModal from '@/features/sign-in-modal';

const showSignInButton = ref();

onMounted(async () => {
  showSignInButton.value = (await supabase.auth.getSession()).error != null;
});

const modalPopupOpened = ref(false);
const router = useRouter();
</script>

<template>
  <div class="header">
    <OwlLogo />
    <HeaderLinks class="header-links" />
    <SignInButton v-if="showSignInButton" class="sign-in-button" @click="modalPopupOpened = true" />
    <AccountThumbnail v-else @click="router.replace('/user/12')" class="sign-in-button">
    </AccountThumbnail>
    <CollapsedMenu class="collapsed-menu" />
    <SignInModal v-model="modalPopupOpened"> </SignInModal>
  </div>
</template>

<style scoped lang="scss">
@import '@/shared/assets/global';

.header {
  padding: 20px 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: $header-shadow;
  margin-bottom: 4px;

  @media screen and (min-width: $tablet-screen) {
    align-items: center;
    padding: 20px;
  }

  @media screen and (min-width: $desktop-screen) {
    padding: 20px 10%;
  }

  @media screen and (min-width: $full-hd-screen) {
    padding: 20px 15%;
  }
}

.header-links {
  display: none;

  @media screen and (min-width: $desktop-screen) {
    display: flex;
  }
}

.collapsed-menu {
  @media screen and (min-width: $desktop-screen) {
    display: none;
  }
}

.sign-in-button {
  display: none;

  @media screen and (min-width: $desktop-screen) {
    display: block;
  }
}
</style>
