<script setup lang="ts">
import { useIntellectualEventListModel } from '@/entities/intellectual-event-list/model';
import IntellectualEventCard from '@/features/intellectual-event-card';
import { onMounted, onUnmounted, ref } from 'vue';
import type { IntellectualEventModel } from '@/entities/intellectual-event-list';

const eventListModel = useIntellectualEventListModel();

const searchValue = defineModel<string>();

onMounted(() => {
  eventListModel.getEvents();
});

const windowWidth = ref(window.innerWidth);
const windowHeight = ref(window.innerHeight);

const columns = ref<number>();

const handleResize = () => {
  windowWidth.value = window.innerWidth;
  windowHeight.value = window.innerHeight;

  columns.value = windowWidth.value < 767 ? 1 :
    windowWidth.value < 2048 ? 2 :
      windowWidth.value < 3800 ? 3 : 4;
};

onMounted(() => {
  window.addEventListener('resize', handleResize);
});

onUnmounted(() => {
  window.removeEventListener('resize', handleResize);
});

function filteredEvents(): IntellectualEventModel[] {
  return eventListModel.intellectualEvents.filter((event) =>
    event.title.toLowerCase().includes(searchValue.value ? searchValue.value.toLowerCase() : ''),
  );
}
</script>

<template>
  <div class="error" v-if="searchValue&&!filteredEvents().length">
    <p>К сожалению, никаких мероприятий по данному запросу не найдено.<br><br>Может, попробуете задать другой?</p>
  </div>
  <masonry-wall v-else :items="filteredEvents()" :max-columns="columns"
                :min-colums="columns" :gap="!filteredEvents().length ? 0 : 20">
    <template #default="{ item }">
      <IntellectualEventCard
        :event="item">
      </IntellectualEventCard>
    </template>
  </masonry-wall>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";
</style>