<script setup lang="ts">

import DefaultButton from '@/shared/ui/buttons/default-button';
</script>

<template>
  <DefaultButton style="background-color: #0F6D7A">Подробнее</DefaultButton>
</template>

<style scoped lang="scss">

</style>