<script setup lang="ts">

import DefaultInput from '@/shared/ui/inputs/default-input';
import FormField from '@/shared/ui/form-field';
import { computed, onMounted, ref } from 'vue';
import { getEducationalInstitutions } from '@/entities/educational-institutions-field/api';

const educationalInstitutionNames = ref<{ name: string; }[]>();

onMounted(async () => {
  educationalInstitutionNames.value = await getEducationalInstitutions();
});
const searchTerm = defineModel<string>();
const showSuggestions = ref<boolean>(false);
const selectInstitution = (educationalInstitution: { name: string }) => {
  searchTerm.value = educationalInstitution.name;
  showSuggestions.value = false;
};

const searchEducationalInstitutionsNames = computed(() => {
  if (searchTerm.value === '') {
    return [];
  }
  console.log(educationalInstitutionNames.value);
  if (!educationalInstitutionNames.value) return [];

  let matches = 0;

  return educationalInstitutionNames.value.filter(educationalInstitution => {
    if (
      educationalInstitution.name.toLowerCase().includes(searchTerm.value!.toLowerCase())
      && matches < 10
    ) {
      matches++;
      return educationalInstitution;
    }
  });
});
</script>

<template>
  <FormField>
    <template v-slot:caption>
      Учебное заведение:
    </template>
    <template v-slot:default>
      <div style="display: flex; flex-direction: column; gap: 10px">
        <DefaultInput v-model="searchTerm" @focus="showSuggestions = true" />
        <ul
          v-if="showSuggestions && searchEducationalInstitutionsNames.length && educationalInstitutionNames && educationalInstitutionNames.length"
          class="cool-ul"
        >
          <li style="color: #35382C">
            Показано {{ searchEducationalInstitutionsNames.length }} из {{ educationalInstitutionNames.length }}
            заведений
          </li>
          <li
            class="cool-li"
            v-for="educationalInstitution in searchEducationalInstitutionsNames"
            :key="educationalInstitution.name"
            @click="selectInstitution(educationalInstitution)"
          >
            {{ educationalInstitution.name }}
          </li>
        </ul>
      </div>
    </template>
  </FormField>
</template>

<style scoped lang="scss">
.cool-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #bac3bf;

  padding: 10px;
  border-radius: 10px;
}

.cool-li {
  color: white;
  background-color: #0F6D7A;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
</style>