<script setup lang="ts">
import { ref } from 'vue';

const event = ref({
  id: 111,
  title: 'Студенческий чемпионат России по интеллектуальным играм',
  description: 'Короткое описание ивента, может быть в одну строку, может быть в две строки, три, четыре и так далее, пока не устанешь писать',
  startDate: '24 сентября 2024',
  endDate: '26 сентября 2024',
});
</script>

<template>
  <div class="header">
    <img src="@/shared/assets/icons/owl_icon.svg" alt="main logo" />
    <div class="title_and_subtitle">
      <h1>{{ event.title }}</h1>
      <h3>{{ event.description }}</h3>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.header {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header img {
  border: black solid 1px;
  border-radius: 20px;
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  object-fit: cover;
  vertical-align: top;
  background: white;
}

.header h1 {
  font-family: $font-title;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.header h3 {
  font-family: $font-body;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10px;
}
</style>