<script setup lang="ts">

import IntellectualEventHeader from '@/widgets/intellectual-event-header';
import IntellectualEventDetails from '@/widgets/intellectual-event-details';
import { useRoute, useRouter } from 'vue-router';
import BackButton from '@/shared/ui/buttons/back-button';
import DefaultButton from '@/shared/ui/buttons/default-button';

const route = useRoute();
const router = useRouter();

const getEvent = async () => {
  const { id } = route.params;

  if (typeof id === 'string') {
    // const { error } = await bookModel.fetchBookById(id);
    //
    // if (error) {
    //   isShowNoBookMessage.value = true;
    // }
    console.log(id);
  }
};
</script>

<template>
  <div>
    <BackButton>
      Вернуться к списку мероприятий
    </BackButton>
    <IntellectualEventHeader style="margin-bottom: 25px" />
    <IntellectualEventDetails style="margin-bottom: 20px" />
    <DefaultButton @click="router.push('/event-application')">Записаться</DefaultButton>
  </div>
</template>

<style scoped>
</style>