<script setup lang="ts">
const props = withDefaults(
  defineProps<{
    type?: string,
  }>(),
  { type: 'text' },
);

const model = defineModel();

console.log(props.type);
</script>

<template>
  <input :type=props.type v-model="model" />
</template>

<style scoped lang="scss">
@import "@/shared/assets/global.scss";

input {
  background-color: $default-grey;
  border-radius: 10px;
  box-shadow: $default-shadow;
  border: none;
  padding: 10px;

  font-family: $font-body;
  font-size: 16px;

  &:active, &:focus {
    outline: 2px solid black;
  }
}
</style>