<script setup lang="ts">

import EventApplicationForm from '@/widgets/event-application-form/ui/EventApplicationForm.vue';
import BackButton from '@/shared/ui/buttons/back-button';
</script>

<template>
  <BackButton></BackButton>
  <EventApplicationForm></EventApplicationForm>
</template>

<style scoped lang="scss">

</style>