<script setup lang="ts">
import DefaultInput from '@/shared/ui/inputs/default-input';
import DefaultSubmit from '@/shared/ui/inputs/default-submit';
import FormField from '@/shared/ui/form-field';
import DefaultDatePicker from '@/shared/ui/inputs/default-date-picker';
import { useRouter } from 'vue-router';
import { ref } from 'vue';
import type { UserData } from '../model/userData.types';
import { registerUser } from '../api';
import TeamsField from '@/entities/teams-field';
import EducationalInstitutionsField from '@/entities/educational-institutions-field';

const router = useRouter();

const userData = ref<UserData>({
  currentName: { firstName: '', secondName: '' },
  birthDate: new Date(),
  educationalInstitutions: [{
    name: 'Sas',
    educationalInstitutionType: { name: 'vuz' },
    dateEndGraduation: new Date(),
    dateStartGraduation: new Date(),
  }],
  email: '',
  password: '',
  currentEducationalInstitution: {
    educationalInstitutionType: { name: 'Школа' },
    name: '',
    dateEndGraduation: new Date(),
    dateStartGraduation: new Date(),
  },
});

const imagePreviewUrl = ref<string | undefined>();
const profileImage = ref<File | undefined>();

function onFileChanged($event: Event) {
  const target = $event.target as HTMLInputElement;
  if (target && target.files) {
    profileImage.value = target.files[0];
    if (profileImage.value) {
      imagePreviewUrl.value = URL.createObjectURL(profileImage.value);
    }
    console.log('file changed!');
  }
}

function onSubmit(e: Event) {
  e.preventDefault();
  console.log('prevented!');
  if (searchTerm.value) {
    userData.value.teamName = searchTerm.value;
  }
  registerUser(userData.value);
  router.replace('/');
}

const searchTerm = ref('');
</script>

<template>
  <form action="" @submit="onSubmit">
    <div style="display: flex; gap: 40px">
      <FormField style="max-width: 200px">
        <template v-slot:caption>
          Аватарка:
        </template>
        <template v-slot:default>
          <div>
            <label for="image">
              <input
                type="file"
                @change="onFileChanged($event)"
                accept="image/*"
                capture="user"
                style="display: none;"
                id="image"
              />
              <img
                v-if="imagePreviewUrl"
                :src="imagePreviewUrl"
                alt="Image preview"
                class="profile-picture"
              />
              <span style="display:inline-block" v-else class="profile-picture">
                Выберите файл
              </span>
            </label>
          </div>
        </template>
      </FormField>
      <div style="flex: 2" class="all-the-other">
        <FormField>
          <template v-slot:caption>
            Фамилия:
          </template>
          <template v-slot:default>
            <DefaultInput v-model="userData.currentName.secondName" />
          </template>
        </FormField>
        <FormField>
          <template v-slot:caption>
            Имя:
          </template>
          <template v-slot:default>
            <DefaultInput v-model="userData.currentName.firstName" />
          </template>
        </FormField>
        <FormField>
          <template v-slot:caption>
            Отчество:
          </template>
          <template v-slot:default>
            <DefaultInput v-model="userData.currentName.patronymicName" />
          </template>
        </FormField>
        <FormField>
          <template v-slot:caption>
            Дата рождения:
          </template>
          <template v-slot:default>
            <DefaultDatePicker v-model="userData.birthDate" />
          </template>
        </FormField>
        <TeamsField v-model="userData.teamName"></TeamsField>
        <EducationalInstitutionsField
          v-model="userData.currentEducationalInstitution!.name">
        </EducationalInstitutionsField>
        <FormField>
          <template v-slot:caption>
            ID в МАК ЧГК:
          </template>
          <template v-slot:default>
            <DefaultInput v-model="userData.iacId" />
          </template>
        </FormField>

        <DefaultSubmit style="align-self: end" value="Зарегистрироваться" />
      </div>
    </div>
  </form>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.all-the-other {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-picture {
  border: #0F6D7A solid 1px;
  border-radius: 20px;

  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;

  object-fit: cover;
  vertical-align: top;
  background: white;

  text-align: center;
  align-content: center;
  color: #0F6D7A;

  box-shadow: $default-shadow;

  &:hover {
    cursor: pointer;
  }
}
</style>
