<script setup lang="ts">

import DefaultButton from '@/shared/ui/buttons/default-button';
import { useRouter } from 'vue-router';

const router = useRouter();
</script>

<template>
  <DefaultButton @click="router.push('/event-application')">Записаться</DefaultButton>
</template>

<style scoped lang="scss">

</style>