<script setup lang="ts">

</script>

<template>
  <textarea></textarea>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global.scss";

.input_row {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: start;
  justify-content: end;
}

.input_row textarea {
  font-family: $font-body;
  font-size: 16px;
  resize: none;
  height: 60px;
  background-color: $default-grey;
  border-radius: 10px;
  box-shadow: $default-shadow;
  border: none;
  padding: 20px;

  &:active, &:focus {
    outline: 2px solid black;
  }
}
</style>