<script setup lang="ts">

import DefaultSelect from '@/shared/ui/inputs/default-select';
import DefaultSubmit from '@/shared/ui/inputs/default-submit';
import { useRouter } from 'vue-router';
import { ref } from 'vue';
import DefaultCheckbox from '@/shared/ui/inputs/default-checkbox';

const router = useRouter();

const players = ref([
  'Александр Пушкин',
  'Николай Гоголь',
  'Лев Толстой',
  'Афанасий Фёт',
  'Николай Некрасов',
  'Михаил Лермонтов',
]);
</script>

<template>
  <form action="" @submit="router.replace('/')">
    <div class="caption">
      Редактирование состава команды "Крутые бобры"
    </div>
    <DefaultCheckbox v-for="player in players" :key="player">
      {{ player }}
    </DefaultCheckbox>
    <div class="caption" style="margin-top: 20px">
      Капитан команды
    </div>
    <DefaultSelect caption="Выберите капитана" :options="players" />
    <DefaultSubmit value="Подать заявку" />
  </form>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.caption {
  font-family: $font-body;
  font-size: 24px;
}
</style>