<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();
</script>

<template>
  <a class="logo" @click="router.replace('/')">
    <img src="@/shared/assets/icons/owl_icon.svg" alt="main logo">
    <h1>Совиная почта</h1>
  </a>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.logo:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.logo h1 {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 24px;

  text-decoration: none;

  @media screen and (min-width: $tablet-screen) {
    font-size: 32px;
  }
}

.logo img {
  height: 60px;
  min-width: 40px;

  @media screen and (min-width: $tablet-screen) {
    height: 64px;
    min-width: 60px;
  }
}
</style>