<script setup lang="ts">

import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

const date = defineModel<Date>();
const format = (date: Date) => {
  return `${date.toLocaleDateString('ru-RU')}`;
};
</script>

<template>
  <VueDatePicker class="date_picker"
                 v-model="date"
                 :enable-time-picker="false"
                 locale="ru"
                 :format="format"
                 select-text="Выбрать"
                 cancel-text="Отмена">
  </VueDatePicker>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global.scss";


.date_picker {
  background-color: $default-grey;
  border-radius: 10px;
  box-shadow: $default-shadow;
  --dp-border-radius: 10px;
  --dp-input-padding: 10px;
  --dp-background-color: $default-grey;
  --dp-border-color: transparent;
  --dp-icon-color: black;
  --dp-text-color: black;
  --dp-font-family: $font-body;
  --dp-font-size: 16px;
  font-family: $font-body;
  font-size: 16px;

  &:active, &:focus {
    outline: 2px solid black;
  }
}
</style>