<script setup lang="ts">
import { ref } from 'vue';

const searchValue = defineModel<string>();

const intermediate = ref<string>();

function searchHandler() {
  searchValue.value = intermediate.value;
}
</script>

<template>
  <div class="search-bar">
    <input type="text" v-model="intermediate" placeholder="Поиск мероприятий" @keydown.enter="searchHandler" />
    <img src="@/shared/assets/icons/search_icon.png" alt="search events" @click="searchHandler">
  </div>
</template>

<style scoped lang="scss">
@import "@/shared/assets/global";

.search-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
  background: #fff;
  box-shadow: $default-shadow
}

.search-bar input {
  border: none;
  background-color: transparent;
  font-family: $font-body;
  font-size: 16px;
  width: 100%;

  &:active, &:focus {
    outline: none;
  }
}

.search-bar img {
  width: 25px;
  height: 25px;

  &:hover {
    cursor: pointer;
  }
}
</style>