@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Kelly+Slab&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$font-title: Jura, serif;
$font-body: Rubik, sans-serif;
$font-heading: Kelly Slab, serif;
$default-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
$header-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$default-grey: #e7e7e7;
$heading-grey: #35382C;
$phone-screen: 320px;
$second-font-width: 360px;
$tablet-screen: 767px;
$desktop-screen: 1024px;
$sidebar-width: 1337px;
$full-hd-screen: 1920px;
$two-k-screen: 2048px;
$four-k-screen: 3800px;

.error {
  background-color: tomato;
  padding: 15px;
  justify-self: center;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-family: $font-body;
  box-shadow: $default-shadow;
  text-align: center;
}

:root {
  font-size: 62.5%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}