<script setup lang="ts">

import CreateEventForm from '@/widgets/create-event-form';
import BackButton from '@/shared/ui/buttons/back-button';
</script>

<template>
  <BackButton>
    Вернуться к списку мероприятий
  </BackButton>
  <CreateEventForm />
</template>

<style scoped lang="scss">
</style>